.uk-navbar {
    background: $global-background !important;
    border-bottom: 1px solid $global-primary-background !important;
    .uk-navbar-toggle {
        color: $global-warning-background;
    }
}

.uk-offcanvas-bar {
    background: $global-background !important;
    border-right: 1px solid $global-primary-background !important;
    padding: unset !important;
    width: 250px !important;

    .uk-nav-header {
        padding: 15px 10px;
    }

    @include navbar-content;
}
