.uk-navbar {
    background: $navbar-background;
    border-bottom: 1px solid $global-primary-background;
    .uk-navbar-toggle {
        color: $global-warning-background;
    }
}

.uk-offcanvas-bar {
    background: offcanvas-bar-background;
    border-right: 1px solid $global-primary-background;
    padding: $offcanvas-bar-padding-vertical;
    width: $offcanvas-bar-width;

    .uk-nav-header {
        padding: 15px 10px;
    }

    @include navbar-content;
}
