.uk-navbar {
    background: $global-background !important;
    border-bottom: 1px solid $global-primary-background !important;
    .uk-navbar-toggle {
        color: $global-warning-background;
    }
}

.uk-offcanvas-bar {
    background: $global-background !important;
    border-right: 1px solid $global-primary-background !important;
    padding: unset !important;
    overflow-y: hidden !important;

    .uk-nav-header {
        padding: 15px 10px;
    }

    .bar-bottom {
        padding: 15px 0;
        background-color: $global-background;
        svg {
            color: $global-warning-background;
        }
    }

    @include navbar-content;
}
