/* -- Sidebar -- */
#left-col {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
    background-color: $global-background;
    border-right: 1px solid $global-primary-background;
	width: 250px;
	z-index: 2;
	transition: height 0.3s ease-out;

    .bar-bottom {
        border-top: 1px solid $global-secondary-background;
        padding: 15px 0;
        background-color: $global-background;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 3;
        bottom: 0;
        width: 250px;
        svg {
            color: $global-warning-background;
        }
    }

    @include navbar-content;
}
