table {
    thead {
        background-color: $global-primary-background;
        th {
            color: $global-color !important;
        }
    }
    tbody {
        td {
            border: 1px solid #344675;
            border-top: none;
        }
    }
}
