table {
    thead {
        background-color: $global-primary-background;
        th {
            color: $global-color;
            text-align: center !important;
        }
    }
    tbody {
        td {
            border: 1px solid $global-secondary-background;
            border-top: none;
            text-align: center;
        }
    }
}
