form {
    input,
    select,
    textarea {
        margin-top: 0.5rem !important;
    }
    input {
        // Prevent Firefox from displaying a weird border color on required inputs.
        &:required {
            box-shadow: none;
        }
    }
    input[type="color"] {
        border: none !important;
    }

    // Make the native arrow invisible and stretch it over the whole field
    // so you can click anywhere in the input field to trigger the native datepicker.
    input[type="date"],
    input[type="time"] {
        cursor: pointer;
        &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            color: transparent;
            background: transparent;
            cursor: pointer;
        }
    }
    select {
        &:disabled {
            opacity: 1;
        }
        cursor: pointer;
    }
    svg {
        color: $global-primary-background !important;
    }
}

input[type="date"] {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23e14eca'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 4px bottom 50%;
    background-size: 20px;
}

input[type="time"] {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23e14eca'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 4px bottom 50%;
    background-size: 20px;
}

.uk-badge {
    min-height: 25px;
    min-width: 25px;
    padding: $badge-padding-vertical $badge-padding-horizontal;
}
