// Prevent Firefox from displaying a weird border color on required inputs.
input {
    &:required {
        box-shadow: none;
    }
}

.uk-badge {
    min-height: 25px;
    min-width: 25px;
    padding: 0 10px !important;
}
