@mixin profile-img {
    .profile-img {
        width: 60px;
        height: 60px;
        margin: 0 auto 10px auto;
        display: block;
    }
}

@mixin nav-content-hover {
    ul {
        &.uk-nav-default {
            > li {
                > a {
                    padding: 8px 20px;
                    border-left: 3px solid transparent;
                    transition: all 0.15s ease-out;
                    &:hover {
                        border-left: 3px solid $background-default-background;
                        padding-left: 30px;
                        color: $global-color;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                &.uk-open {
                    > a {
                        border-left: 3px solid $background-default-background;
                        padding-left: 30px;
                        color: $global-color;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
            li {
                &.uk-nav-header {
                    padding: 20px 20px 8px 20px;
                }
                &.uk-nav-sub {
                    padding-left: 34px;
                }
            }
        }
    }
}

@mixin uk-dropdown {
    .uk-dropdown {
        &.user-drop {
            .uk-dropdown-nav {
                .uk-nav-divider {
                    border-top: 1px solid $global-secondary-background;
                }
            }
            min-width: 160px;
            max-width: 160px;
            padding: 0.75rem;
            &:after {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: $global-color;
                border-width: 4px;
                margin-left: -4px;
            }
        }
    }
}

@mixin left-section {
    .left-content-box {
        padding: 0.75rem 2rem;
        &.separator-top {
            border-top: 1px solid $global-secondary-background;
            padding-bottom: 60px;
        }
    }

    .left-nav-wrap {
        svg {
            color: $global-warning-background;
        }
    }
}

@mixin uk-progress {
    .uk-progress {
        margin-top: 0.25rem;
        height: $progress-height;
        &.success {
            &::-webkit-progress-value {
                background-color: $global-success-background;
            }
            &::-moz-progress-bar {
                background-color: $global-success-background;
            }
            &::-ms-fill {
                background-color: $global-success-background;
            }
        }
        &.default {
            &::-webkit-progress-value {
                background-color: $background-default-background;
            }
            &::-moz-progress-bar {
                background-color: $background-default-background;
            }
            &::-ms-fill {
                background-color: $background-default-background;
            }
        }
    }
}

@mixin bar-bottom {
    .bar-bottom {
        border-top: 1px solid $global-secondary-background;
        padding: 15px 0;
        background-color: $global-background;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 3;
        bottom: 0;
        width: 250px;
        svg {
            color: $global-warning-background;
        }
    }
}

@mixin navbar-content {
    @include profile-img;
    @include nav-content-hover;
    @include uk-dropdown;
    @include left-section;
    @include uk-progress;
    @include bar-bottom;
}
